name: Cross-Platform Builds

on:
  release:
    types: [created]

permissions:
  contents: write # REQUIRED for releases

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
        exclude:
          - goarch: arm64
            goos: windows
          - goarch: arm64
            goos: linux

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Build
        run: |
          EXT=""
          if [ "${{ matrix.goos }}" = "windows" ]; then
            EXT=".exe"
          fi

          env GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} \
            go build -v \
            -o lively-${{ matrix.goos }}-${{ matrix.goarch }}$EXT \
            ./cmd/...

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: |
            lively-${{ matrix.goos }}-${{ matrix.goarch }}*
